<ion-header>
  <ion-toolbar>
    <ion-title>Ranking</ion-title>
    <ion-buttons slot='start'>
      <ion-back-button color='primary'></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <div>
      <ion-text color='dark'><h5>Lets see how your consumption compares to the rest of the World!</h5></ion-text>
    </div>
    
  </ion-card>
  <ion-card-content>
    <img src="https://www.macrotrends.net/assets/images/large/crude-oil-price-history-chart.png" />
  </ion-card-content>
</ion-content>
